/*********************************************************************/
/* Eléments principaux de la page */

*{
    margin:0;
    padding:0;
}

body
{
    background-color : white;
    font-family: Calibri, Arial, sans-serif;
    width : 100%;
}

#logo
{
    display: flex;
}

#logo img
{
    width: 70%;

}


/*********************************************************************/
/* Navigation */

#accueil
{
    margin-right: 150px;
}


#evenement
{
    margin-right: 150px;
}

#articles
{
    margin-right: 150px;
}

#contact
{

}

nav ul
{
    list-style-type: none;
    overflow: hidden;

}

li
{
    float: left;
}

li a
{
    font-size: 1.5em;
    display: inline-block;
    color: rgb(64,64,64);
    text-align: left;
    padding: 13px 40px;
    text-decoration: none;
}

#barreNav
{
    border: 30px rgb(181,219, 255) solid;
    background-color : rgb(181,219, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/**********************************************************************/
/*footer*/

footer
{
    display: flex;
    flex-direction: column;
}

#haut_du_footer
{
    border: 20px rgb(181,219, 255) solid;
    background-color : rgb(181,219, 255);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

#bas_footer
{
    border: 30px rgb(81,130,198) solid;
    background-color : rgb(81,130,198);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

footer a
{
    color:white;
}
