#rectangle_évenements
{
    display: flex;
    flex-wrap: wrap;
}

#rectangle_derniersevenements
{
    display: flex;
    flex-direction: column;
    border: 1px rgb(74, 138, 236) solid;
    width: 600px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px rgb(229,228,229);
}

#rectangle_derniersevenements:hover
{
    box-shadow: 7px 7px 6px rgba(0,0,0,.15);
}

#images_evenement
{
    max-width: 100%;
    min-width: 100%;
    max-height: 45%;
    min-height: 40%;
}

h3
{
    text-align: center;
    font-size: 1.6em;
    color: black;
}

#Date
{
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    color:black;
}